@if (areActionsDisplayed(actions(), entry())) {
  <div class="dropdown-root" ngbDropdown (openChange)="openChange.emit($event)" [placement]="placement()" [container]="container()">
    <button class="action-button border-0" [ngClass]="buttonClasses" ngbDropdownToggle aria-label="Open actions" i18n-aria-label>
      @if (label()) {
        <span class="dropdown-toggle me-2">
          <span class="d-inline-flex align-items-center gap-2">
            {{ label() }}
            <ng-template [ngTemplateOutlet]="labelExtra || null"></ng-template>
          </span>
        </span>
        <div class="chevron-down"></div>
      } @else {
        <my-global-icon class="more-icon" [iconName]="buttonIcon()"></my-global-icon>
      }
    </button>
    
    <div ngbDropdownMenu class="dropdown-menu">
      @for (block of getActions(); track $index) {
        @if ($index > 0 && areActionsDisplayed(block, entry())) { <div class="dropdown-divider"></div> }
        @for (action of block; track action.label) {
          @if (isBlockDisplayed(block, action, entry())) {
            <my-action-dropdown-item 
              [action]="action" 
              [entry]="entry()" 
              [dropdownItemExtra]="dropdownItemExtra"
            ></my-action-dropdown-item>
          }
        }
      }
    </div>
  </div>
}